@CHARSET "UTF-8";

body {
	font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial',
		'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo,
		'ＭＳ Ｐゴシック', 'MS PGothic'
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
}

.main-contents {

}

h1 {
	color: #364e96; /*文字色*/
	padding: 0.5em 0; /*上下の余白*/
	border-top: solid 3px #364e96; /*上線*/
	border-bottom: solid 3px #364e96; /*下線*/
}

.errorMessages {
	color: red;
	margin-right: 50px;
	font-size: 120%;
}

.posts-and-comments {
	width: 60%;
	word-break: break-all;
	margin: 0px auto;
}

.search {
	width: 75%;
	margin: 0px auto;
}

table th {
	padding: 10px;
}

table td {
	padding: 5px;
}

textarea#newComment {
	width: 100%;
	height: 100px;
	word-break: break-all;
}

textarea#newpost-text {
	width: 100%;
	height: 300px;
	word-break: break-all;
}

.title {
	position: fixed;
	top: 0px;
	width: 100%;
	margin: 0px auto;
	background: white;
}

.menu {
	position: fixed;
	top: 130px;
	bottom: 0px;
	left: -205px;
	height: 200px;
	width: 200px;
	margin: 0px auto;
	font-size: 110%;
}

.top-body {
	margin-top: 150px;
}

.body {
	margin-top: 160px;
}

.copyright {
	margin: 10px auto;
	font-size: 80%;
}

.square_btn {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #000000;
	border: solid 2px #364e96;
	border-radius: 3px;
	transition: .4s;
	width: 180px;
	margin-bottom: 10px;
	background-color: white;
	outline: none;
}

.square_btn:hover {
	background: #364e96;
	color: white;
}

#search-btn {
	width: 220px;
}

#newPostLink {
	bottom: 20px;
}

.usersList {
	width: 70% margin: 0px auto;
}

.search {
	display: none;
}

.comment-list {
	display: none;
}